
//-----===== Базовые переменные ====-----//

$background-body: #333;
$color-body: #fff;

$font-style-body: normal;
$font-weight-body: 400;
$font-size-body: 14px;
$font-family-body: 'Open Sans', sans-serif;

$line-height-body: 21px;

$white: #fff;
$black: #333;
$gold: #D1A954;


