
.feedback{

  &-form{

  }

  &-list{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-item{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }

  &-name{
    width: 100%;
  }

  &-input, &-textarea{
    display: block;
    width: 100%;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #989898;
    padding: 9px 15px;
    background-color: #444444;
    border: 1px solid #616161;
    box-sizing: border-box;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
  }

  &-input:focus, &-textarea:focus{
    background-color: $white;
    border: 1px solid #000;
    color: #000;
  }

  &-input::placeholder,&-textarea::placeholder{
    color: #989898;
  }

  &-input:focus::placeholder,&-textarea:focus::placeholder{
    color: #000;
  }

  &-textarea{
    resize: none;
    height: 100px;
    margin-bottom: 10px;
  }

  &-btn{
    @extend %button;
    width: 190px;
    height: 50px;
    letter-spacing: 0.1em;
    display: block;
    margin: 0 auto 30px auto;
  }

  &-info{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #989898;
    margin: 0;
  }
}


@media (min-width: 768px) {

  .feedback{

    &-item{
      margin-bottom: 25px;
    }

    &-btn{
      order: 2;
      margin: 0 15px 0 auto;
    }

    &-info{
      order: 1;
      text-align: left;
    }
  }

}
