
.menu-fixed{
  display: none;
  position: absolute;
  z-index: 10;
  background-color: $black;
  width: 320px;
  height: 600px;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 100px 40px 30px 40px;

  &--active{
    display: block;
    animation-name: menu-fixed;
    animation-duration: 1s;
  }

  &__exit{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 0;
    border: 0;
    background-color: transparent;

    &:hover{
      svg{
        fill: $gold;
      }
    }

    svg{
      width: 16px;
      height: 16px;
      fill: $white;
      transition: 0.2s fill;
    }
  }

  &__list{
    @extend %list;

    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__item{
    margin: 0 0 20px 0;
  }

  &__link{
    color: $white;
    text-decoration: none;

    &:hover{
      color: $white;
    }

    &::after{
      content: '';
      margin-top: 3px;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $gold;
      opacity: 0;
      transform: translateX(-50%) scaleX(0);
      transition: 0.3s opacity, 0.3s transform;
    }

    &:hover::after{
      opacity: 1;
      transform: translateX(0) scaleX(1);
    }
  }
}

@media (min-width: 768px) {

  .menu-fixed{
    width: 300px;
    padding-top: 140px;
    height: 800px;

    &__list{
      margin-bottom: 90px;
    }

    &__item{
      margin: 0 0 35px 0;
    }

  }
}
