
.social-box{
  display: none;
}

@media (min-width: 1900px) {

  .social-box{
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100vh;
    min-height: 900px;
    background-color: rgba($black,0.75);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-title{
      font-weight: 700;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #C4C4C4;
      writing-mode: vertical-lr;
      transform: translateX(-43%) rotate(180deg);
      padding-top: 160px;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        top: 50px;
        left: 10px;
        width: 2px;
        height: 80px;
        background-color: $white;
      }
    }

    &-list{
      margin-bottom: 86px;
    }

  }
}
